<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是命名空间，是mapper接口的全路径-->
<mapper namespace="com.lsf.studymybatis.mapper.OrderInfoMapper">
    <select id="findAll" resultType="com.lsf.studymybatis.entity.OrderInfo">
        select id,
          `order_no` orderNo,
          `user_info_id` userInfoId,
          `money`,
          `addtime` addTime
      from order_info
    </select>

</mapper>